.main > * {
  font-weight: 400;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.input {
  width: 3em;
  text-align: center;
}

.inputcontainer {
  display: flex;
  gap: 1em;
}

.inputcontainer > h2 {
  font-weight: 400;
  text-align: center;
}

.inputcontainer > input {
  width: 5em;
}

.error {
  color: rgb(181, 0, 0);
}

.send {
  margin-top: 3em;
  height: 3em;
  width: 10em;
  cursor: pointer;
}
