.datecontainer {
  display: flex;
  gap: 3em;
  font-size: 1.75rem;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.content {
  margin-top: 1em;
  height: 25em;
  width: 27em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 1em;
  background: linear-gradient(#000, #000) no-repeat 60%/1px 100%;
}
.get {
  margin-top: 1.25em;
  height: 3em;
  width: 10em;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.timestamp {
  width: 60%;
  display: flex;
  justify-content: left;
  padding-left: 1em;
}

.ledstate {
  width: 40%;
  display: flex;
  justify-content: center;
}
